{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access denied.</h1>
    Contact to site administrator to get access rights.
    <a href="#" class="btn-link" onclick="window.history.back()" role="button">Back</a>
{% endblock %}